/* http://blogs.tamtam.nl/operational-services/2010/08/06/Vertical+Text+For+Table+Headers+With+CSS.aspx */
div.vertical
{
	margin-left: -85px;
	position: absolute;
	width: 210px;
	
    /* Safari/Chrome */
    -webkit-transform: rotate(-90deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);
	
	/* Opera */
	-o-transform: rotate(-90deg);
}

th.vertical
{
	height: 220px;
	line-height: 14px;
	padding-bottom: 20px;
	text-align: left;
}
